html, body {
    height: 100%;
    margin: 0;
}

#map {
    width: 75%;
    height: 100%;
}

#sidebar {
    width: 25%;
    height: 100%;
    float: right;
    top: 0px;
    right: 0px;
    position: absolute;
    overflow: scroll;
}

.checkbox {
    width: 20px;
    height: 20px;
}

label {
    font-size: 15px;
}