html, body {
    height: 100%;
    margin: 0;
}

#map {
    width: 75%;
    height: 100%;
}

#sidebar {
    width: 25%;
    height: 100%;
    float: right;
    top: 0px;
    right: 0px;
    position: absolute;
    overflow: scroll;
}

#list>div {
    background-color: "#000000";
}

#list>div:hover {
    cursor: pointer;;
}

h2 {
    font-size: 14px;
}

#list>div>p, #list>div>h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

#list>div {
    margin-bottom: 3px;
}