html, body {
    height: 100%;
    margin: 0;
}

#map {
    width: 60%;
    height: 100%;
}

#sidebar {
    width: 40%;
    height: 100%;
    float: right;
    top: 0px;
    right: 0px;
    position: absolute;
    overflow: scroll;
}

#list>div {
    background-color: "#000000";
}

#list>div:hover, #info>h1:hover {
    cursor: pointer;;
}

h2 {
    font-size: 16px;
}

#list>div>p, #list>div>h2, #list>div>label, #info>div>p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

#list>div, #info.div {
    margin-bottom: 3px;
}